body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),
  rgba(0, 0, 0, 0.7)), url('background_images/default1.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}


#damageDisplay {
    text-align: center;
    color: white;
    font-size: 4em;
    padding: 1em;
}

.mainContent {
    height: 100%;
    width: 100%;
}

.banner {
    background-color: #221F1F;
    border-bottom: 1px solid #33343a;
    max-height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    text-align: center;
    font-size: 3em;
    padding: 0.2em;
    width: 100%;
}

.leftMenu {
    background-color: #221F1F;
    width: 200px;
    border-left: 1px solid #33343a;
    position: fixed;
    z-index: 2;
}

.rightCalculator {
    margin-top: 75px;
    margin-left: 200px;
    position: relative;
    z-index: 1;
}

.rightContent {
    background-color: blue;
    padding: 60px 40px 60px;
    position: relative;
}